<% climb_results.each do |climb| %>
<section class = "climb">
  <%= climb[:name] %>
  <%= climb[:type] %>
  <%= climb[:rating] %>
  <%= climb[:stars] %>
  <%= climb[:location] %>
</section>
<% end %>
