<h1></h1>
<h1>Destination: <%= @destination["name"] %></h1>
<h3><%= @destination["address"] %></h3>

<%= form_tag( '/search/climbs' , method: :create) do |f| %>
  <%= select_tag(:min_diff, options_for_select(climb_diff)) %>
  <br>
  <%= select_tag(:max_diff, options_for_select(climb_diff)) %>
  <br>
  <%= select_tag(:type, options_for_select(climb_type)) %>
  <br>
  <%= label_tag :distance %>
  <%= text_field_tag :distance %>
  <br>
  <%= submit_tag "Find Climbs!" %>
<% end %>
