<h2><%= @location["name"] %></h2>
<p><%= @location["address"] %></p>

<h4>Hiking trail options for your Trip!</h4>
<p><%= @hike_options.count %> results </p>

<%= form_tag "/hikes/trips/create", method: :post do%>
  <table>
    <tr>
      <th></th>
      <th>Name</th>
      <!-- <th>Summary</th>
      <th>Difficulty</th>
      <th>Stars</th>
      <th>Location</th>
      <th>Length</th>
      <th>Ascent</th>
      <th>High</th> -->
    </tr>

<% @hike_options.each_with_index do |hike, index| %>
  <section class = "hike">
    <tr id="hike-result<%= index %>">
      <td><%= check_box_tag "hike_objects[]",
      {name: hike.name, url: hike.url, lat: hike.lat, lng: hike.lng}.to_json, nil, id: "check-box-#{index}", :class=> "check-box" %></td>

      <td><%= link_to hike.name, hike.url, target: :_blank %></td>
    </tr>
  </section>
<% end %>

</table>
<%= submit_tag "Save Selected Hikes", params: {activity: "hiking"}, method: :post, class: "button" %>
<% end %>
