<%= form_tag path, method: :post do %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Difficulty</th>
        <th scope="col">Stars</th>
        <th scope="col">Pitches</th>
        <th scope="col">Type</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <section class="climbs">
        <% climb_results.each_with_index do |climb, index| %>
        <section class="climb">
          <tr id="climb-result-<%=index%>">
            <td><%= check_box_tag "climb_objects[]", {name:climb.name, route_id: climb.route_id, rating:climb.rating, stars:climb.stars, pitches:climb.pitches, location:climb.location, url:climb.url, longitude:climb.longitude, latitude:climb.latitude, climb_type:climb.climb_type}.to_json, nil, :id => "check-box-#{index}", :class => "check-box" %></td>
            <td><%= link_to climb.name, climb.url, target: :_blank %></td>
            <td><%= climb.rating %></td>
            <td><%= number_with_precision(climb.stars, precision: 1) %></td>
            <td><%= climb.pitches %></td>
            <td><%= climb.climb_type %></td>
            <td><%= climb.location %></td>
          </tr>
        </section>
        <% end %>
      </section>
    </tbody>
  </table>
  <%= submit_tag "Save Selected Climbs", :id => "submit-button", onmouseover: 'valthisform();', class: "button", disabled: true %>
<% end %>

<script>
var checkboxes = document.querySelectorAll('input[type="checkbox"]');

function valthisform()
{
    var submitbutton = document.getElementById("submit-button")
    var boxchecked=false;
    for(var i=0,l=checkboxes.length;i<l;i++)
    {
        if(checkboxes[i].checked)
        {
            boxchecked=true;
            break;
        }
    }
    if(boxchecked){
      submitbutton.disabled = false;
    }
    else {
      submitbutton.disabled = true;
      }
}
for (var i=0; i<checkboxes.length; i++) {
    checkboxes[i].addEventListener('change', valthisform);
}
</script>
