<!DOCTYPE html>
<html>
  <head>
    <title>EscapeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'About' %>
      <%= link_to 'Log Out', '/logout' if current_user %>
    </nav>

    <% flash.each do |name, msg| %>
      <div class ="<%= name %>-flash">
        <p class ="<%= name %>-flash"><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
